{% extends 'main/base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock title %}

{% block content %}
    <section class="reg-form d-flex">
        <div class="register-title">
            <h2>Регистрация</h2>
            <form action="{% url 'users:registration' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {% comment %} <label for="id_first_name" class="form-label form-stylereg">First Name</label> {% endcomment %}
                        <input type="text" class="form-control form-stylereg" id="id_first_name"
                        value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                        name="first_name" placeholder="Ваше Имя" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        {% comment %} <label for="id_last_name" class="form-label form-stylereg">Last Name</label> {% endcomment %}
                        <input type="text" class="form-control form-stylereg" id="id_last_name"
                        value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                        name="last_name" placeholder="Ваша Фамилия" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        {% comment %} <label for="id_username" class="form-label form-stylereg">Username</label> {% endcomment %}
                        <input type="text" class="form-control form-stylereg" id="id_username"
                        value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                        name="username" placeholder="Имя пользователя" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        {% comment %} <label for="id_email" class="form-label form-stylereg">Email</label> {% endcomment %}
                        <input type="email" class="form-control form-stylereg" id="id_email"
                        value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                        name="email" placeholder="Ваша почта" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        {% comment %} <label for="id_password1" class="form-label form-stylereg">Password</label> {% endcomment %}
                        <input type="password" class="form-control form-stylereg" id="id_password1"
                        value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
                        name="password1" placeholder="Ваш Пароль" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        {% comment %} <label for="id_password2" class="form-label form-stylereg">Confirm Password</label> {% endcomment %}
                        <input type="password" class="form-control form-stylereg" id="id_password2"
                        value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
                        name="password2" placeholder="Повторите ваш пароль" required>
                    </div>
                </div>
                <button type="submit" class="login-btn form-style">Зарегистрироваться</button>
            </form>
        </div>
    </section>
{% endblock content %}